<div style="position: relative; box-shadow: 0 0 1px rgba(255,0,0,.5)">
    {{ content|raw }}
    <div style="color: red; font-size: 12px; font-family: monospace; text-align: left;">
        {% for template in templates %}
            {{ template }}<br>
        {% endfor %}
    </div>
</div>

