<div style="position: relative; box-shadow: 0 0 1px rgba(255,0,0,.5)">
    {{ content|raw }}
    <div style="color: red; background: rgba(255,0,0,.05); margin-top: 5px; font-size: 12px; font-family: monospace; text-align: left; padding: 10px;">
        {{ template }}
    </div>
</div>

